.vscode/**
.env
.env.*
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
assets/*.gif
!assets/wechat-qr.png
!assets/icon.png
TBD.md